<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="request()">요청</button>

    <script>
      const url = "http://localhost:8080/ws/cors/test02";
      function request() {
        fetch(url)
          .then((res) => res.text())
          .then((data) => {
            console.log("응답:", data);
          });
      }
    </script>
  </body>
</html>
